:root {
  --bg-color: #F3EFEC;
  --text-color: #312A4E;
  --accent-color: #FFAB6B;
  --main-font: raleway;
  --accent-font: 'STIX Two Text';


*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}
.theme_dark {
  --bg-color: #171717;
  --text-color: #B3B3B3;
  --accent-color: transparent;
}

.page {
  min-inline-size: 360px;
  margin: 0;
 background-color: var(--bg-color, #F3EFEC);
  color: var(--text-color, #312A4E);
  font-family: var(--main-font, raleway, sans-serif);
}

.header{
  padding: 1vw 0 0 0;
}

.content-section {
  padding: 0 5vi;
}

.heading {
  text-align: center;
  font-family: var(--accent-font,'STIX Two Text', serif);
  line-height: 0.9;
  font-weight: 600;
}

.header__title {
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
  margin-block-end: 40px;
}

.content__title {
  font-size: 30px; 
  line-height: 0.9em;
  margin: 7% 0 2.5%;
}

.content__text-block {
  font-size: 18px;  
}

.content__text-block .content__paragraph:not(:last-of-type) {
  margin-block-end: 1.5em;
}

.content__text-block a {
  color: currentColor;
}

.content__blockquote {
  width: 75%;
  margin: 0 auto 1.5em;
  line-height: 2;
  font-style: italic;
}

.content__list {
  padding: 0 0 0 40px;
  list-style: none;
}

.content__list li {
  position: relative;
}

.content__list li:not(:last-of-type) {
  margin-block-end: 10px;
}

.content__list li::before {
  content: '';
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  margin-block-start: -7.5px;
  background-image: url(../images/marker-light.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inset-block-start: 50%;
  inset-inline-start: -25px;
}

.theme_dark .content__list li::before {
  content: '';
  position: absolute;
  inline-size: 15px;
  block-size: 15px;
  margin-block-start: -7.5px;
  background-image: url(../images/marker-dark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  inset-block-start: 50%;
  inset-inline-start: -25px;
}

.content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-inline-end: 1px;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
}

.theme_dark .content__text-block_type_first-lettered .content__paragraph:first-of-type::first-letter {
  background-color: var(--accent-color);
  padding: 0 4px;
  margin-inline-end: 1px;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  border: 1px solid;
}


.content__picture{
   inline-size: 100%;
}

.content__figure {
 margin: 7% auto;
 position: relative;
 inline-size: calc(100% + 10vi);
 inset-inline-end: 5vi;
}
.content__picture-caption {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  border-block-end: 1px solid currentColor;
}

.content__card {
  aspect-ratio: 4 / 3;
  margin-block-start: 7%;
  border: 1px solid currentColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__card-title {
  font-size: 60px;
}

.content__card-subtitle {
  font-size: 18px;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var( --accent-color );
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
}

.theme_dark .colored-text::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 8px);
  block-size: 0.5ch;
  background-color: var( --accent-color );
  inset-block-end: 0.3ch;
  inset-inline-start: -4px;
  background-image: url(../images/pattern.svg);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 1px solid currentcolor;
  padding-block: 20px;
}

.header__theme-toggler {
  list-style: none;
  display: flex;
  padding: 0;
  gap: 20px;
}

.header__theme-button {
  border: none;
  font-size: 18px;
  font-family: inherit;
  color: currentColor;
  line-height: 1.04;
  background: none;
}



.content__text-block a:focus-visible,
.header__theme-button:focus-visible {
  outline: 1px solid;
  color: currentColor;
}

.header__theme-button_type_dark {

}

.header__theme-button_type_light {

}

.header__theme-button_is-active {
  position: relative;
  display: inline-block;
  font-weight: 700;
}

.header__theme-button_is-active::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 2px);
  block-size: 0.5ch;
  background-color: var( --accent-color );
  inset-block-end: 0.3ch;
  inset-inline-start: -1px;
}

.theme_dark .header__theme-button_is-active::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: calc(100% + 2px);
  block-size: 0.5ch;
  background-color: var( --accent-color );
  inset-block-end: 0.3ch;
  inset-inline-start: -1px;
  background-image: url(../images/pattern.svg);
}

.header__theme-button:disabled {
  pointer-events: none;
}

.header__theme-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__theme-button_is-active:hover {
  text-decoration: none;
}

.footer {
  margin-block-start: 10vw;
  padding: 2.5vw;
  border-block-start: 1px currentcolor solid;
}

.footer__copyright {
  font-size: 18px;
  text-align: center;
  color: currentColor;
}